@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 3px;
    height: 1px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #b8b8b8; /* Color of the scrollbar thumb */
    border-radius: 2px; /* Radius of the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #ffffff; /* Color of the scrollbar track */
  }